*, *::after, *::before{
    box-sizing: border-box;
    outline: medium none;
}


body{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
	font: 10px/1.2 Akkurat,Helvetica,sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	font-style: normal;
	user-select:none;
	-webkit-user-select:none;
    -ms-user-select:none;
    -moz-user-select:-moz-none;
    -moz-user-select:none;
    -o-user-select:none;
	color: #454657;
	cursor: default;
	height: 100%;
	overflow: hidden;
	margin: 0px;
    padding: 0px;
	position: relative;
}

.spec-background{
	background: #2980b9;
    background: -moz-linear-gradient(top, #2980b9 0%, #00698c 100%);
    background: -webkit-linear-gradient(top, #2980b9 0%,#00698c 100%);
    background: -o-linear-gradient(top, #2980b9 0%,#00698c 100%);
    background: -ms-linear-gradient(top, #2980b9 0%,#00698c 100%);
    background: linear-gradient(top, #2980b9 0%,#00698c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2980b9', endColorstr='#00698c');/*For IE7-8-9*/ 	
}

a {
    text-decoration:none
}

body::-webkit-scrollbar {
    width:12px;
    -webkit-border-radius:0
}

body::-webkit-scrollbar-thumb {
    -webkit-border-radius:1ex;
    background-color:rgba(0,0,0,0.25)
}

body::-webkit-scrollbar-thumb:hover,body.custom-scroll ::-webkit-scrollbar-thumb:active {
    background-color:rgba(0,0,0,0.35)
}

body::-webkit-scrollbar-button {
    display:none
}

body::-webkit-scrollbar-track-piece {
    background:transparent
}

.content{
	height: 100%;
	width: 100%;
	top: 0px;
	overflow-x: auto;
}

.skyvr-dlg-hdr{
	height: 54px;
	background-color: #12658D;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: #FFF;
	font-size: 22px;
	font-family: "SegoeUIRegular",sans-serif;
	font-weight: 800;
	text-align: center;
	position: relative;
}

/* f o styles */
.list-content .easylink{
	transition: all 800ms ease 0s;
	width: inherit;
	color: red;
	text-align: center;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.skyvr-dlg-hdr-title{
	width: 80%;
	display: inline-block;
	padding-top: 12px;
	position: absolute;
    left: 10%;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.skyvr-dlg-hdr-left{
	background-image: url("../../images/left_arrow_white_25x25.svg");
	background-repeat: no-repeat;
	background-position: center center;
	height: 54px;
	width: 25px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 15px;
}

.skyvr-dlg-hdr-right{
	background-image: url("../../images/close_white_25x25.svg");
	background-repeat: no-repeat;
	background-position: center center;
	height: 54px;
	width: 25px;
	cursor: pointer;
	display: inline-block;
	right: 15px;
	position: absolute;
}

.skyvr-dlg-btn{
	display: inline-block;
	color: #12658D;
	font-size: 18px;
	cursor: pointer;
	margin-top: 5px;
	font-weight: 600;
	font-family: "Open Sans",sans-serif;
	padding-left: 5px;
	padding-right: 5px;
}

.skyvr-dlg-ftr{
	height: 54px;
	line-height: 54px;
	background-color: #BDD9E7;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.vjs-progress-holder{
	top: 15px;
}

.skyvr-timeline-thumbnail-container{
	position: absolute;
	z-index: 1000;
	padding: 4px;
	background-color: #12658D;
	border-radius: 4px;
}

.skyvr-timeline-thumbnail{
	background-repeat: no-repeat;
	position: relative;
	background-size: 160px 120px;
	width: 160px;
	height: 120px;
}

.skyvr-timeline-thumbnail-time{
	bottom: 0px;
	background-color: rgba(43, 51, 63, 0.7);
	color: rgb(255, 255, 255);
	text-align: center;
	width: 100%;
	white-space: nowrap;
	position: absolute;
}

.skyvr-timeline-thumbnail-cursor{
	position: absolute;
	left: 50%;
	border-style: solid;
	border-width: 12px 12px 0px;
	border-color: #12658D transparent transparent;
	width: 0px;
	height: 0px;
	margin-left: -12px;
	bottom: -16px;
}

.player-container .overlay-container.camera-spinner {
    background-color: transparent;
	height: 64px;
	width: 64px;
	background-position: center center;
	background-image:url("../../images/spinner_gray_48x48.svg");
    background-repeat:no-repeat;
    -webkit-animation:spinner 1s linear infinite;
    -moz-animation:spinner 1s linear infinite;
    -ms-animation:spinner 1s linear infinite;
    -o-animation:spinner 1s linear infinite;
    animation:spinner 1s linear infinite;
    background-size:contain;
}

.skyvr-clips-filter{
	margin: 0px auto;
	text-indent: 5px;
	color: #12658C;
	font-size: 18px;
	background-color: rgba(0,0,0,0.5);
	position: relative;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    top: 60px;
    left: 0px;
}

.skyvr-clips-filter-group{
	text-indent: 5px;
	color: #12658C;
	border: 1px solid #BFDAE1;
	font-size: 18px;
	height: 35px;
	width: 300px;
	margin-top: 15px;
	display: block;
}

.skyvr-clips-filter-period{
	text-indent: 5px;
	color: #12658C;
	border: 1px solid #BFDAE1;
	font-size: 18px;
	height: 35px;
	margin-right: 15px;
	width: 350px;
}

/*.skyvr-clips-filter-text{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	color: #FFF;
}*/

.skyvr-clips-filter-title{
	text-indent: 5px;
	border: 1px solid #BFDAE1;
	height: 35px;
	width: 300px;
	color: #12658C;
	display: block;
}

.skyvr-clips-filter-apply{
	background-image: url("../../images/search_white_25x25.svg");
	width: 25px;
	height: 35px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: -5px;
	margin-left: 5px;
	cursor: pointer;
	display: inline-block;
}

/* generated by 3rdParty/generate_css/cliplist.py */
@media only screen and (min-width: 20px) and (max-width: 260px) {.camera-with-clips { width: 0px; }}
@media only screen and (min-width: 260px) and (max-width: 500px) {.camera-with-clips { width: 240px; }}
@media only screen and (min-width: 500px) and (max-width: 740px) {.camera-with-clips { width: 480px; }}
@media only screen and (min-width: 740px) and (max-width: 980px) {.camera-with-clips { width: 720px; }}
@media only screen and (min-width: 980px) and (max-width: 1220px) {.camera-with-clips { width: 960px; }}
@media only screen and (min-width: 1220px) and (max-width: 1460px) {.camera-with-clips { width: 1200px; }}
@media only screen and (min-width: 1460px) and (max-width: 1700px) {.camera-with-clips { width: 1440px; }}
@media only screen and (min-width: 1700px) and (max-width: 1940px) {.camera-with-clips { width: 1680px; }}
@media only screen and (min-width: 1940px) and (max-width: 2180px) {.camera-with-clips { width: 1920px; }}
@media only screen and (min-width: 2180px) and (max-width: 2420px) {.camera-with-clips { width: 2160px; }}
@media only screen and (min-width: 2420px) and (max-width: 2660px) {.camera-with-clips { width: 2400px; }}
@media only screen and (min-width: 2660px) and (max-width: 2900px) {.camera-with-clips { width: 2640px; }}
@media only screen and (min-width: 2900px) and (max-width: 3140px) {.camera-with-clips { width: 2880px; }}
@media only screen and (min-width: 3140px) {.camera-with-clips { width: 3140px; }}

.skyvr-loading-content{
	color: #fff;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0px, -35px);
	-moz-transform: translate(0px, -35px);
    -ms-transform: translate(0px, -35px);
    -webkit-transform: translate(0px, -35px);
    -o-transform: translate(0px, -35px);
	font-weight: 700;
	font-size: 18pt;
}

.skyvr-loading-settings{
    width: 100%;
    left: 0px;
    font-weight: 700;
    top: 50%;
    font-size: 18pt;
    color: white;
    text-align: center;
}

.skyvr-loading-settings-content {
	line-height: normal;
    display: inline-block;
	color: #12658d;
}
    

@keyframes changewidth1 {
  from { left: 0px;}
  to { left: 90px;}
}

@keyframes changewidth2 {
  from { left: 110px; }
  to { left: 200px;}
}

@keyframes changewidth3 {
  from { left: 220px; }
  to { left: 310px; }
}

.skyvr-loading-progress{
	position: absolute;
	top: 50%;
	margin: 0px;
	width: 330px;
	left: 50%;
	transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}

.skyvr-loading-progress-base{
	color: #fff;
	background-color: #fff;
	width: 25px;
	height: 20px;
	margin: 0;
	position: absolute;
	left: 0px;
	top: 50%;
	animation-duration: 1s;
	animation-name: changewidth1;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	border-radius: 2px;
	position: absolute;
}

.timeline-loader{
	display: none;
	height: 10px;
	background-position: 0px 0px;
}

.timeline-loading-progress{
	position: absolute;
	margin: 0px;
	width: 330px;
	left: 50%;
	transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}

.timeline-loading-progress-base{
	background-color: #4b4e4f;
	width: 25px;
	height: 6px;
	margin: 0;
	position: absolute;
	left: 0px;
	top: 8px;
	animation-duration: 1s;
	animation-name: changewidth1;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	border-radius: 2px;
	position: absolute;
}

.skyvr-loading-progress-changewidth1{
	animation-duration: 1s;
	animation-name: changewidth1;
}

.skyvr-loading-progress-changewidth2{
	animation-duration: 1.1s;
	animation-name: changewidth2;
}

.skyvr-loading-progress-changewidth3{
	animation-duration: 1.2s;
	animation-name: changewidth3;
}

.skyvr-logging-time{
	width: 90%;
	text-align: left;
	margin: 0 auto;
}

.skyvr-logging{
	min-height: 300px;
	max-height: 450px;
	width: 90%;
	background-color: #BDD8E7;
	border: none;
	text-align: left;
	padding: 10px;
	margin: 0 auto;
	overflow: scroll;
}

.skyvr-logging-line{
	
}

.skyvr-logging-status-update{
	width: 90%;
	text-align: left;
	margin: 0px auto;
}

.container-header{
	font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 22px;
    position: relative;
	width: 100%;
	height: 60px;
}

.container-title{
	font-style: normal;
	cursor: default;
	font-family: "Open Sans",sans-serif;
	font-weight: 800;
	color: #FFF;
	top: 16px;
	font-size: 22px;
	position: relative;
	left: 6.4rem;
	margin: 0px;
	overflow: hidden;
	position: absolute;
	right: 6.4rem;
	text-align: center;
	text-overflow: ellipsis;
}

.camera-with-clips .clip.tile .video .share-icon{
    background-color:transparent;
    border:none;
    height:25px;
    position:absolute;
    left:5px;
    width:25px;
    bottom:5px;
	margin-top: 0px;
}

.share-icon.white{
	background-image:url("../../images/share_white_25x25.svg");
    background-repeat:no-repeat;
}

.share-icon.blue{
	background-image:url("../../images/share_blue_25x25.svg");
    background-repeat:no-repeat;
}

.tick-white{
    background-image:url("../../images/tick_white_25x25.svg");
    background-repeat:no-repeat;
}

.tick-blue{
	background-image:url("../../images/tick_blue_25x25.svg");
	background-repeat:no-repeat;
}

.skyvr-clips-shared-links{
	background-image: url("../../images/share_blue_25x25.svg");
	background-repeat: no-repeat;
	width: 25px;
	display: inline-block;
	background-position: center center;
	height: 25px;
	float: right;
	cursor: pointer;
	top: 16px;
	position: absolute;
	right: 55px;
}

.skyvr-clips-shared-links.active{
	background-image: url("../../images/share_white_25x25.svg");
}

.skyvr-clips-filter-open{
	background-image: url("../../images/search_white_25x25.svg");
	background-repeat: no-repeat;
	width: 25px;
	display: inline-block;
	background-position: center center;
	height: 25px;
	float: right;
	cursor: pointer;
	top: 16px;
	position: absolute;
	right: 90px;
}

.skyvr-clips-filter-open.inactive{
	background-image: url("../../images/search_blue_25x25.svg");
}

.skyvr-clips-delete-visible-clips{
	background-image: url("../../images/delete_blue_25x25.svg");
	background-repeat: no-repeat;
	width: 25px;
	display: inline-block;
	background-position: center center;
	height: 25px;
	float: right;
	cursor: pointer;
	top: 16px;
	position: absolute;
	right: 20px;
}

.skyvr-clips-delete-visible-clips.active{
	background-image: url("../../images/delete_white_25x25.svg");
}


#copy_link_url{
	text-indent: 5px;
	border: 1px solid #BFDAE1;
	height: 35px;
	color: #12658C;
	font-size: 18px;
	width: 90%;
	padding-left: 0px;
	padding-right: 0px;
}

.delete-icon {
    background-color:transparent;
    background-image:url("../../images/delete_white_25x25.svg");
    background-repeat:no-repeat;
    border:none;
    height:25px;
    position:absolute;
    width:25px;
    bottom:5px;
    right: 5px;
    margin-top: 0px;
}

.delete-icon.white {
    background-image:url("../../images/delete_white_25x25.svg");
    background-repeat:no-repeat
}

.delete-icon.blue {
    background-image:url("../../images/delete_blue_25x25.svg");
    background-repeat:no-repeat
}

.timeline-background{
	fill: rgba(255,255,255,0.0)
}

.timeline .y.axis line {
    stroke: #4b4e4f
}

/* #3b3b3b */

.timeline .timeline-container .page {
    color:#fff;
    cursor:pointer;
    font-weight:700;
    padding:.2rem 1rem;
    position:absolute;
    top: 20px;
    display: block;
    height: 25px;
    margin: 0px;
    width: 14px;
    padding: 0px;
    margin-top: -3px;
}

.timeline .timeline-container .page.left {
    /*background-image: url('/images/arrow_bold_left_white_14x25.svg');*/
    margin-left: -25px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2017.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2214px%22%20height%3D%2225px%22%20viewBox%3D%220%200%2014%2025%22%20style%3D%22enable-background%3Anew%200%200%2014%2025%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2212.329%2C25.243%200.086%2C13%2012.793%2C0.293%2014.207%2C1.707%202.914%2C13%2013.743%2C23.829%20%22%2F%3E%0A%3C%2Fsvg%3E");
}

.timeline .timeline-container.loading .page.left {
    /*background-image: url('/images/arrow_bold_left_dark_14x25.svg');*/
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2017.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%0A%20%20%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20id%3D%22Layer_1%22%0A%20%20%20x%3D%220px%22%0A%20%20%20y%3D%220px%22%0A%20%20%20width%3D%2214px%22%0A%20%20%20height%3D%2225px%22%0A%20%20%20viewBox%3D%220%200%2014%2025%22%0A%20%20%20style%3D%22enable-background%3Anew%200%200%2014%2025%3B%22%0A%20%20%20xml%3Aspace%3D%22preserve%22%0A%20%20%20inkscape%3Aversion%3D%220.91%20r13725%22%0A%20%20%20sodipodi%3Adocname%3D%22arrow_bold_left_dark_14x25.svg%22%3E%3Cmetadata%0A%20%20%20%20%20id%3D%22metadata9%22%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%3Cdc%3Atype%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%20%2F%3E%3Cdc%3Atitle%20%2F%3E%3C%2Fcc%3AWork%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cdefs%0A%20%20%20%20%20id%3D%22defs7%22%20%2F%3E%3Csodipodi%3Anamedview%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221%22%0A%20%20%20%20%20objecttolerance%3D%2210%22%0A%20%20%20%20%20gridtolerance%3D%2210%22%0A%20%20%20%20%20guidetolerance%3D%2210%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221855%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%221056%22%0A%20%20%20%20%20id%3D%22namedview5%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20inkscape%3Azoom%3D%229.44%22%0A%20%20%20%20%20inkscape%3Acx%3D%22-10.79661%22%0A%20%20%20%20%20inkscape%3Acy%3D%2212.5%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%221985%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%2224%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%221%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22Layer_1%22%20%2F%3E%3Cpolygon%0A%20%20%20%20%20style%3D%22fill%3A%234b4e4f%3Bfill-opacity%3A1%22%0A%20%20%20%20%20points%3D%2212.329%2C25.243%200.086%2C13%2012.793%2C0.293%2014.207%2C1.707%202.914%2C13%2013.743%2C23.829%20%22%0A%20%20%20%20%20id%3D%22polygon3%22%20%2F%3E%3C%2Fsvg%3E");
}

.timeline .timeline-container .page.right {
    margin-left: 495px;
    /*background-image: url('/images/arrow_bold_right_white_14x25.svg');*/
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2017.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2214px%22%20height%3D%2225px%22%20viewBox%3D%220%200%2014%2025%22%20style%3D%22enable-background%3Anew%200%200%2014%2025%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%221.964%2C25.243%2014.207%2C13%201.5%2C0.293%200.086%2C1.707%2011.379%2C13%200.55%2C23.829%20%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}

.timeline .timeline-container.loading .page.right {
    /*background-image: url('/images/arrow_bold_right_dark_14x25.svg');*/
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2017.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%0A%20%20%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20id%3D%22Layer_1%22%0A%20%20%20x%3D%220px%22%0A%20%20%20y%3D%220px%22%0A%20%20%20width%3D%2214px%22%0A%20%20%20height%3D%2225px%22%0A%20%20%20viewBox%3D%220%200%2014%2025%22%0A%20%20%20style%3D%22enable-background%3Anew%200%200%2014%2025%3B%22%0A%20%20%20xml%3Aspace%3D%22preserve%22%0A%20%20%20inkscape%3Aversion%3D%220.91%20r13725%22%0A%20%20%20sodipodi%3Adocname%3D%22arrow_bold_right_dark_14x25.svg%22%3E%3Cmetadata%0A%20%20%20%20%20id%3D%22metadata9%22%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%3Cdc%3Atype%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%20%2F%3E%3Cdc%3Atitle%20%2F%3E%3C%2Fcc%3AWork%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cdefs%0A%20%20%20%20%20id%3D%22defs7%22%20%2F%3E%3Csodipodi%3Anamedview%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221%22%0A%20%20%20%20%20objecttolerance%3D%2210%22%0A%20%20%20%20%20gridtolerance%3D%2210%22%0A%20%20%20%20%20guidetolerance%3D%2210%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%22820%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%22607%22%0A%20%20%20%20%20id%3D%22namedview5%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20inkscape%3Azoom%3D%229.44%22%0A%20%20%20%20%20inkscape%3Acx%3D%22-10.79661%22%0A%20%20%20%20%20inkscape%3Acy%3D%2212.5%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%22353%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%2293%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%220%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22Layer_1%22%20%2F%3E%3Cpolygon%0A%20%20%20%20%20style%3D%22fill%3A%234b4e4f%3Bfill-opacity%3A1%22%0A%20%20%20%20%20points%3D%221.964%2C25.243%2014.207%2C13%201.5%2C0.293%200.086%2C1.707%2011.379%2C13%200.55%2C23.829%20%22%0A%20%20%20%20%20id%3D%22polygon3%22%20%2F%3E%3C%2Fsvg%3E");
}

.timeline .timeline-container.loading .timeline-loader{
	display: block;
}

.skyvr-top-content-panel{
	position: absolute;
	left: 0px;
	top: 18px;
	width: 100%;
	text-align: center;
	z-index: 1;
}

.cloud-user-name, .cloud-client-api{
	display: inline-block;
    min-height: 30px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    white-space: pre;
    text-overflow: ellipsis;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.cloud-user-name{
	min-width: 150px;
}

.cloud-client-api{
    cursor: pointer;
}

.cloud-client-api:hover {
    background-color: #2788b5;
    border-bottom: 1px solid #fff;
}


@media (max-width: 480px){
	.skyvr-top-content-panel{
		text-align: left;
		padding-left: 10px;
	}
	
	.cards .card .card-header .card-title{
		left: 10px;
		right: 10px;
	}
}

.skyvr-table-content{
	display: table;
	width: 100%;
	height: 100%;
}

#home-container{
	height: 100%;
}

#home-container .main-content .skyvr-table-content{
	position: absolute;
	height: 100%;
	left: 0px;
	top: 0px;
}

#home-container.card-open .main-content .skyvr-table-content{
	/* transform: translateX(-100%);*/
	-webkit-transition: left 800ms ease-in-out,transform 800ms ease-in-out;
    -moz-transition: left 800ms ease-in-out,transform 800ms ease-in-out;
    -o-transition: left 800ms ease-in-out,transform 800ms ease-in-out;
    transition: left 800ms ease-in-out,transform 800ms ease-in-out;
	left: -100%;
}

.skyvr-cell-content{
	display: table-cell;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.skyvr-row-content{
	display: table-row;
}

.skyvr-cell-content.top-panel{
	height: 40px;
	background-color: #12658D;
}

.skyvr-cell-content .login-form input, button{
	font-family: 'Open Sans', sans-serif;
	display: block;
	width: 100%;
	height: 60px;
	border: 0;
	border-radius: 5px;
}
.skyvr-cell-content .login-form input[type="text"],
.skyvr-cell-content .login-form input[type="password"],
.skyvr-cell-content .login-form input[type="email"]{
	font-weight: 400;
	background-color: #ffffff;
	color: #046b90;
	margin-bottom: 9px;
	font-size:20px;
	padding: 0 30px;
	max-width: 330px;
	width: 330px;
	display: inline-block;
}

.skyvr-cell-content .login-form input[type="submit"], button{
	font-weight: 600;
	background-color: #12658d;
	color:#ffffff;
	font-size:20px;
	border: 1px solid #fefeff;	
	margin-top: 15px;
	max-width: 330px;
	width: 330px;
	display: inline-block;
}

.skyvr-cell-content button{
	display: inline-block;
	background-color: #1374a1;
	color: #bacfdd;
	margin-top: 7px;
	width: 330px;
    max-width: 330px;
}

.logout-button#logout{
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
    cursor: pointer;
	height: 40px;
    line-height: 40px;
	float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.logout-button#logout:hover {
    background-color: #2788b5;
    border-bottom: 1px solid #fff;
}

.logout-button.disabled#logout{
	color: #0ac0ed;
}

.logout-button.disabled#logout:after{
	background: url("../../images/arrow_logout_blue_26x26.svg") no-repeat;
}

.skyvr-cell-content .name-wrapper{
	-moz-transition: all 800ms;
    -o-transition: all 800ms;
    -webkit-transition: all 800ms;
    transition: all 800ms;
    margin-bottom: 10px;
}

.skyvr-cell-content .form-wrapper{
	display: inline-block;
	padding-bottom: 20px;
}

.skyvr-cell-content .name-wrapper p{
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
	width:100%;
    margin: 0 0;
	margin-bottom: 12px;
    display: inline-block;
}

.skyvr-cell-content .form-wrapper p.sk_message {
    font-family: "Open Sans",sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin: 0px 0px 12px;
    display: inline-block;
}

.skyvr-cell-content .name-wrapper p.subtitle{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	width:100%;
	margin: 0px 0px 12px;
    display: inline-block;
}

.form-wrapper form{
	display: inline-block;
}

.skyvr-cell-content #cancel{
	float: left;
	margin-left: 150px;
}
.skyvr-cell-content #ok{
	float: right;
	margin-right: 150px;
}

@media (max-width: 660px){
	.settings-popup{
		width: 470px;
	}
	.skyvr-cell-content #cancel{
		margin-left: 100px;
	}
	.skyvr-cell-content #ok {
		margin-right: 100px;
	}
}
@media (max-width: 480px){
	.settings-popup{
		width: 310px;
	}
	.skyvr-cell-content #cancel{
		margin-left: 50px;
	}
	.skyvr-cell-content #ok {
		margin-right: 50px;
	}
}

.top-panel-menu{
	display: table;
	width: 100%;
}

.top-panel-menu-row{
	display: table-row;
	height: 40px;
}

.top-panel-menu-item{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 33%;
}
.top-panel-menu-item.left{
	text-align: left;
	padding-left: 10px;
	
}
.top-panel-menu-item.right{
	text-align: right;
}

.card.type-camera.camera-hosted .zone-menu-container{
	display: none;
}

.skyvr-row-content-powered-by{
	display: table-row;
    width: 100%;
}

.skyvr-powered-by{
	padding-bottom: 10px;
	text-align: center;
    color: white;
    font-size: 15px;
}

.deny-settings .navigation-button.power-button{
	display: none !important;
}

/*.deny-settings .navigation-button.settings-button.card-settings-button{
	display: none !important;
}*/


.deny-settings .zone-menu-container{
	display: none !important;
}

.deny-clips .clip-menu-container{
	display: none !important;
}

.deny-playback .player-footer .timeline-contextmenu{
	display: none !important;
}

.deny-playback .player-footer .adjacent-controls.left{
	display: none !important;
}

.deny-playback .player-footer .timeline-container{
	display: none !important;
}

.deny-clips #clip-start-point{
	display: none !important;
}

.deny-clips #clip-end-point{
	display: none !important;
}

.deny-makeclip #clip-start-point{
	display: none !important;
}

.deny-makeclip #clip-end-point{
	display: none !important;
}

.skyvr-clips-filter-back{
	background: rgba(0,0,0,0.1);
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 100%;
    -webkit-transition: left 800ms ease-in-out,transform 800ms ease-in-out;
    -moz-transition: left 800ms ease-in-out,transform 800ms ease-in-out;
    -o-transition: left 800ms ease-in-out,transform 800ms ease-in-out;
    transition: left 800ms ease-in-out,transform 800ms ease-in-out;
}

.camera-with-clips-info-search{
	text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
}

.slides .slide-wrapper .slide{
	width: 220px;
    height: 220px;
    margin: 10px;
    padding: 18px;
	background-color: rgb(55, 136, 177);
	border-radius: 10px;
}

.slide-img {
	cursor:pointer;
	width: 184px;
    height: 131px;
    background-repeat: no-repeat;
    background-image: url("../../files/images/camimg_default.png");
    background-size: 100% 100%;
    background-position: center center;
	border-width: 0px;
    border-image-width: 0px;
}

.slide-img.active{
	background-image: url("../../files/images/camimg_default.png");
}

.slide-img.inactive{
	background-image: url("../../files/images/camimg_inactive.png");
}

.slide-img.inactive{
	background-image: url("../../files/images/camimg_inactive.png");
}

.slide-img.inactive_by_scheduler{
	background-image: url("../../files/images/camimg_inactive.png");
}

.slide-img.unauthorized{
	background-image: url("../../files/images/camimg_unauthorized.png");
}

.slide-img.offline{
	background-image: url("../../files/images/camimg_offline.png");
}
