.spec-background{
	background: #2980b9;
    /*background: -moz-linear-gradient(top, #2980b9 0%, #00698c 100%);
    background: -webkit-linear-gradient(top, #2980b9 0%,#00698c 100%);
    background: -o-linear-gradient(top, #2980b9 0%,#00698c 100%);
    background: -ms-linear-gradient(top, #2980b9 0%,#00698c 100%);
    background: linear-gradient(top, #2980b9 0%,#00698c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2980b9', endColorstr='#00698c');*/
}
h2{
	color: white;
	font-family: "Open Sans",sans-serif;
	font-size: 36px;
	color: #FFF;
	text-align: center;
	width: 100%;
	margin: 0px 0px 12px;
	display: inline-block;
	font-weight: 400;
	font-style: normal;
}
body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

.description{
	margin-top:7px;
	margin-left: 30px;
	margin-bottom:7px;
	font-size: small;
}
.vxgaccp-table-content {
    display: table;
    width: 100%;
    height: 100%;
}
.vxgaccp-cell-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.content{
	text-align: center;
    vertical-align: middle;
}

.content_headers{
	height: 50px;
	padding-left: 15px;
	background-color: rgb(93, 162,199);
	line-height: 50px;
	vertical-align: middle;
	color:white
}
.inputs_div{
	background-color: white;
	color: #12658D
}
input[type="text"], input[type="password"]{
	font-weight: 400;
	background-color: #FFF;
	color: #046B90;
	margin-bottom: 9px;
	font-size: 20px;
	padding: 0px 30px;
	max-width: 330px;
	width: 330px;
	display: inline-block;
	font-family: "Open Sans",sans-serif;
	height: 60px;
	border: 5px;
	border-radius: 5px;
}
#new-camera-timezone{
	width:330px;
	height: 35px;
	border-width: 1px;
    border-color:#12658D;
	border-radius: 5px
	
}
#see-demo {
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    display: block;
    width: 330px;
    text-align: left;
    background: url(./../vmanager/files/images/left_arrow.svg) no-repeat;
    background-position: left;
    padding-left: 15px;
    cursor: pointer;
}
#actionBar{
background-color: #12658D	;
}
a {
    text-decoration: none;
}
input[type="submit"]{
	font-family: "Open Sans",sans-serif;
	height: 60px;
	border: 0px none;
	border-radius: 5px;
	font-weight: 600;
	background-color: #12658D;
	color: #FFF;
	font-size: 20px;
	border: 1px solid #FEFEFF;
	margin-top: 15px;
	max-width: 330px;
	width: 330px;
	display: inline-block;
	cursor: pointer;
}

.signup, .signin{
	font-family: "Open Sans",sans-serif;
	height: 60px;
	font-weight: 600;
	background-color: #12658D;
	font-size: 20px;
	border: 1px solid #FEFEFF;
	display: inline-block;
	background-color: #1374A1;
	color: #BACFDD;
	margin-top: 7px;
	width: 330px;
	max-width: 330px;
	border-radius: 5px;
	text-align: center;
	line-height: 60px;
	text-decoration: none;
	cursor: pointer;
}

form{
	margin: 0px;
}

.subtitle{
	font-family: "Open Sans",sans-serif;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	width: 100%;
	margin: 0px 0px 12px;
	display: inline-block;
	font-weight: 400;
	font-style: normal;
}

#forgot-password {
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    display: block;
    width: 330px;
    text-align: right;
    background: url(./../vmanager/files/images/right_arrow.svg) no-repeat;
    background-position: right;
    padding-right: 15px;
}

.form-wrapper{
	display: inline-block;
	padding-bottom: 20px;
}

.form-wrapper{
	color: #FFF;
}

.camGrid{
	color: #FFF;
}

.caminfo{
	display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.caminfo:hover{
	background-color: #2980b9;
}

.row-content-powered-by{
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.powered-by {
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
}

#menuusername{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    display: block;
	padding-top: 15px;
}
.camName{
	width:250px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	
	font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
	float:left;
	margin-left:5px;
	margin-top:20px;
	
}
.actions{
	font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
	float:right;
	width:50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	cursor: pointer
}
#buttons{
	background-color: white;
}
#usernam{
	font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
	float:left;
	margin-top:15px;
	margin-left:10px;
	margin-right:10px;
	
}
.dialogInputs{
	border:1px;
	border-color: #0000ff;
	margin-left: 30px;
	margin-bottom:5px;
	width:500px; 
	height:30px
}
.dialog_closing_cross{
	position:absolute;
	top:15px;
	right:10px;
	width:30px;
	height:30px;
	cursor:pointer
	
}
.error{
	color:red;
	font-size: medium;
	text-align: center;
	display: none
}

/*#menulogout{
	position: absolute;
	font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    padding-top: 15px;
	top: 0px;
	right: 15px;
	cursor: pointer;
}*/

.social-signin{
	padding-top: 10px;
	height: 50px;
	color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.social-caption{
	display: inline-block;
	height: 45px;
    line-height: 45px;
    top: -35%;
    position: relative;
	padding-right: 10px;
}

.social-gplus{
	display: inline-block;
    background-image: url(../images/gplusicon.svg);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.camera-item{
	float:left;
	width:300px;
	height:270px;
	background:#3788b1;
	margin-left:20px;
	margin-top:20px;
	background-color:#3788b1;
}

.camera-preview{
	margin-top:3px;
	cursor:pointer;
}
